include ../partials/header.pug
h2= party.name
h3 Créé par #{party.author}
h4 Liste des choses apportées:
ul
  each val in party.items
    form(method="post" action=`/party/${party._id}/items/${val._id}`)
      li= val.name
      button(type="submit").btn__delete Supprimer
form(method="post" action=`/party/${party._id}/items`)
  div.party__fields
    label(for="name") Je ramène :
    input(name="name" id="name" required minlength="3" placeholder="ex: une glacière, le dessert...")
    label(for="user") par :
    input(name="user" id="user" required minlength="3" placeholder="Prénom")
  button(type="submit") Confirmer
div.party__copy
  label(for="url") Partagez l'événement
  input(id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` data-share-title=`${party.name}` data-share-text=`${party.author} vous invite à rejoindre l'événément ${party.name}`)